# Ignorar archivos de log
*.log

# Ignorar la carpeta de dependencias de Node.js
node_modules/

# Ignorar archivos de entorno
.env
.env.local

# Ignorar archivos generados por el IDE
.idea/
.vscode/

# Ignorar archivos de compilación
build/
dist/
*.exe

# Ignorar los directorios que Python genera automáticamente para almacenar archivos de caché compilados (archivos .pyc)
__pycache__/

# Ignorar archivo de orientación de proyecto
Build a Budget App Project.txt